p {
    font-weight: bold;
    font-size: 40px;
    margin-top: 1px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
/*is the same as
p {
  margin: 1px 5px 10px 20px;
}
The order is always top, right, bottom, left.
*/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

body {
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    color: navy;
}
h1 {
    color: yellow;
    background-color: blue;
    font-size: 2em
    margin: 20px;
    padding: 40px;
}


h2 {
    font-size: 1.5em;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
#top {
    background-color: #ccc;
    padding: 20px
}

.intro {
    color: red;
    font-weight: bold;
}
