#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#navigation2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

#content {
    margin: 0 200px; /* setting top and bottom margin to 0 and right and left margin to 200px */
}


p {
    font-weight: bold;
    font-size: 40px;
    margin-top: 1px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-width: 1px;
    border-color: red;
    border-style: solid;

}
/*is the same as
p {
  margin: 1px 5px 10px 20px;
  border: 1px red solid;
}
The order is always top, right, bottom, left. border order = width, color, style.
*/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

body {
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    color: navy;
}
h1 {
    color: yellow;
    background-color: blue;
    font-size: 2em
    margin: 20px;
    padding: 40px;
}


h2 {
    font-size: 1.5em;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
#top {
    background-color: #ccc;
    padding: 20px
}

.intro {
    color: red;
    font-weight: bold;
}
li:before {
    content: "POW! ";
    background: red;
    color: #fc0;
}
li {
  display: inline
}
#footer {
    clear: both;
}
